.signUp {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  
    .signUpContent {
      margin-top: 50px;
      background-color: #fff;
      width: 500px;
      border-radius: 30px;
      padding: 30px;
      border: 2px solid black;
  
      @media screen and (max-width: 515px) {
        height: 100vh;
        border-radius: 0;
        margin-top: 0px;
      }
  
      .iconSignUp {
          margin: 20px 0;
        svg {
          font-size: 40px;
          color: #fff;
          width: 50px;
          height: 50px;
          border: 1px solid transparent;
          border-radius: 50%;
          background-color: #fb4226;
          // line-height: 50px;
        }
      }
  
      .formSignUp {
        margin-top: 50px;
        .inputSignUp {
          margin-bottom: 10px;
          label {
            text-align: left;
            display: block;
            font-size: 14px;
          }
  
          input {
            width: 100%;
            padding: 10px;
            border: 2px solid black;
            border-radius: 5px;
  
            &:focus {
              border-color: #fb4226;
            }
          }
  
          .txtError {
            color: red;
            text-align: left;
            font-size: 14px;
            margin: 0;
          }
  
      }
      .btnSignUp {
          margin-top: 40px;
          button {
            width: 100%;
            padding: 15px;
            border-radius: 10px;
            background-color: #fb633a;
            color: #fff;
            font-weight: 700;
            font-size: 20px;
            border: 2px solid black;
  
            &:hover {
              color: #fb633a;
              background-color: #fff;
              border-color: #fb633a;
            }
          }
        }
      }
      .linkSignUp {
        span {
          padding: 0 5px 0;
          color: #0a58ca;
        }
      }
    }
  }